// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$gunmetal: #292F36;
$teal: #59C0B9;
$white: #FFFFFF;
$light-gray: #F4F4F4;
$light-gunmetal: #575757;
