<h1>Your recommended ties</h1>

<div class="all-profiles">
  <% @referrals.each_with_index do |referral, index| %>
    <div class="profile-card">
      <%= link_to user_path(referral.id) do %>
        <div class="profile-photo" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path referral.photos.first.key %>')"></div>
      <% end %>
        <div class="card-controls">
          <%= link_to "Yes", accept_path(referral.id), :method=> :patch, class: "primary-button" %>
          <%= link_to "No", reject_path(referral.id), :method=> :patch, class: "primary-button" %>
        </div>
    </div>
  <% end %>
</div>

<!--
  1. Link accept and reject button to the rails routes referrals#reject referrals#accept
  2. Code the accept/reject controller to update the referral reject to true or false
  3. Move buttons to exist within the @referrals loop
  4. When button is clicked it will post to reject/accept action and change the referral therefore index will always be 0


  3. Note: Use remote: true
-->
