.banner {
  background:
    linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.15)),
    // GSQISzQlYtY BW0vK-FA3eg FewHpO4VC9Y
    url(https://source.unsplash.com/FewHpO4VC9Y)
    no-repeat bottom center fixed;
    height: 100vh;
    width: auto;

  background-size: cover;
  // background-position: center;
  padding: 100px 0;

  z-index: -1000;
}


.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: .8;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.8);
}

