.primary-button {
  line-height: 1 !important;
  // background: $teal;
  background: linear-gradient(180deg, #1ABCB1 7.52%, #2FFFF0 100%);
  color: white;
  padding: 8px 16px  !important;
  border-radius: 50px;
  // border: 1px solid $teal  !important;
  transition: opacity 0.3s ease;
  box-shadow: 0 1px 5px rgba(0,0,0,.3);
  &:hover {
    background: #24A9A0;
    color: white;
    text-decoration: none  !important;
  }
}



input[type=file]::file-selector-button {
  line-height: 1 !important;
  background: $teal;
  color: white;
  padding: 8px 16px  !important;
  border-radius: 50px;
  border: 1px solid $teal  !important;
  transition: opacity 0.3s ease;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  &:hover {
    background: $white;
    color: $teal;
    border: 1px solid $white  !important;
    text-decoration: none  !important;
  }
}

.update-button {
  line-height: 1.2 !important;
  background: rgba(250, 190, 0, 1);
  color: white;
  padding: 8px 16px  !important;
  border-radius: 50px;
  border: 1px solid rgba(250, 190, 0, 1)  !important;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  box-shadow: 0 1px 5px rgba(0,0,0,.3);
  &:hover {
    background: rgba(240, 180, 0, 0.9);
    color: white;
    text-decoration: none  !important;
  }
}





.active-button {

}

.flat-button {

}

.ghost-button {
  line-height: 1 !important;
  background: white;
  color: #59C0B9  !important;
  padding: 7px 15px  !important;
  border-radius: 50px;
  border: 1px solid #59C0B9  !important;
  transition: opacity 0.3s ease;
  box-shadow: 0 1px 5px rgba(0,0,0,.3);
  &:hover {
    color: #24A9A0;
    border: 1px solid #24A9A0;
    text-decoration: none;
  }
}

.accept-button {

}

.reject-button {

}

.chat-button {

}


