.primary-button {
  background: #0082BF;
  color: white;
  padding: 8px 16px;
  border-radius: 50px;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  &:hover {
    background: #046390;
    color: white;
    text-decoration: none;
  }
}

.active-button {

}

.flat-button {

}

.ghost-button {
  background: white;
  color: #0082BF;
  padding: 8px 16px;
  border-radius: 50px;
  border: 1px solid #0082BF;
  //opacity: 0.8;
  transition: opacity 0.3s ease;
  &:hover {
    color: #046390;
    border: 1px solid #046390;
    text-decoration: none;
  }
}

.accept-button {

}

.reject-button {

}

.chat-button {

}


