.footer {
  position: fixed;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 10px;
  color: #F4F4F4;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 220px;

  img {
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
    object-fit: cover;
  }
  img:hover {
  opacity: 1;
  width: 44px;
  height: 44px;
  }
}
.footer-links a {
  color: white;
  opacity: 0.9;
  text-decoration: none;
  font-size: 40px;
  height: 50px;
  margin: 0;
  padding: 0;
  //padding: 0px 10px;
}
.footer-links
.footer .fa-heart {
  color: #D23333;
}
