.footer {
  position: fixed;
  background: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 10px;
  color: #F4F4F4;
  bottom: 0;
  width: 100%;
  z-index: 1000;

  img {
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
    object-fit: cover;
  }
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 220px;

  .msg-counter {
    position: relative;
    width: 24px;
    text-align: center;
    margin: 0;
    bottom: 49px;
    left:8px;
    font-size: 16px;
    color: $teal;
  }
}
.footer-links a {
  color: white;
  opacity: 0.9;
  text-decoration: none;
  font-size: 40px;
  height: 50px;
  margin: 0;
  padding: 0;
  //padding: 0px 10px;
}
.footer-links
.footer .fa-heart {
  color: #D23333;
}

.footer-transparent {
    position: fixed;
    background: transparent;
    display: flex;
    justify-content: center;
    height: 110px;
    width: 100vw;
    color: #F4F4F4;
    bottom: 0;
    z-index: 0;

  img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    object-fit: cover;
  }
}
