.tie-group {
  // This margin has been added to avoid content getting hidden by footer, don't remove!
  margin-bottom: 40px;
}

.tie-card {
  overflow: hidden;
  height: 120px;
  width: auto;
  background: rgba(255,255,255,0.5);;
  box-shadow: 0 1px 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
  &:hover{
    color: black;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    background: white;
    text-decoration: none;
  }
  p {
    margin-bottom: 4px;
    font-size: 14px;
  }
}

.tie-image-box {
  width: 100px;
  // Please don't remove min-width! It has been added to prevent image from becoming an ellipse when resizing screen.
  min-width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
}

.tie-info-box {
  width: 75%;
  color: #292F36;
  padding: 0;
  line-height: 1;
}

.tie-interests {
  width: 100%;
  display: flex;
  margin-left: 8px;
  margin-top: 6px;
  margin-bottom: 10px;
}

.tie-texts {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-info-circle {
  color: #563d7c;
}

.badge-secondary {
  margin-left: 4px;
  background: #563d7c;
}

.tie-status {
  font-size: 16px;
  width: 100%;
  margin-left: 8px;
  color: #292F36;
}

.recommended-tie-card {
  overflow: hidden;
  height: 120px;
  width: auto;
  background: pink; //#FFE66D;
  box-shadow: 0 1px 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
  &:hover{
    color: black;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-decoration: none;
  }
  p {
    margin-bottom: 4px;
    font-size: 14px;
  }
}

.select-tie-card {
  overflow: hidden;
  height: 120px;
  width: auto;
  background: lightblue;
  box-shadow: 0 1px 8px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  padding-left: 4px;
  padding-right: 4px;
  &:hover{
    color: black;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    text-decoration: none;
  }
  p {
    margin-bottom: 4px;
    font-size: 14px;
  }
}

.referral-form {
  margin: 8px;
}

.no-tie-texts {
  padding-left: 8px;
  padding-right: 8px;
  // width: 100%;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
}

